/* HTML5 elements */
article, aside, nav, section, hgroup, header, footer, figure {
	display: block;
}

/* Elements */
a {
	color: #42607b;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body {
	color: #313131;
	background: #faf8f5 url(../images/site-bg.jpg) fixed no-repeat center top;
	padding-top: 20px;
}

body#page-404 {
	background: none;
}

p {
	margin-bottom: 1em;
}

h1 {
	color: #333;
	font-size: 3.5em;
	margin-bottom: 20px;
}

h2 {
	font: 2em Arial, sans-serif;
	margin: 1.5em 0 0.25em;
}

h2.section-start {
	font-size: 1.3em;
}

h3 {
	font: 1.4em Garamond, Times, serif;
	margin: 1em 0 0.25em;
}

h3.section-start {
	font-size: 1.3em;
}

h4 {
	font: 1.3em Garamond, Times, serif;
	margin: 1em 0 0.25em;
}

hr {
	color: #ccc;
	background: #ededed;
	height: 1px;
	border: 0;
	margin: 10px 0;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}


/* Fonts */
.arial {
	font-family: Arial, Helvetica, sans-serif;
	font-variant: normal;
}

.garamond {
	font-family: Garamond, Times, serif;
	text-transform: uppercase;
}

.upper-case-inner {
	font-variant: normal; 
	font-size: 0.8em; 
	text-transform: uppercase;
}

.small-size {
	font-size: 1.1em;
}

.small-size-inner {
	font-size: 0.8em;
}

.medium-size {
	font-size: 1.3em;
}

.large-size {
	font-size: 1.5em;
}

/* Structure */
.skip-links {
	position: absolute;
	left: -9999px;
}

.page {
	position: relative;
	width: 980px;
	background: #fff;
}

.page-wrapper {
	width: 100%;
	overflow: hidden;
}

#page-404 .page {
	width: 960px;
}

.complementary {
	width: 200px;
	min-height: 10px;
	padding-left: 20px;
}

#easy-to-read .complementary {
	min-height: 769px;
	padding: 0 40px 0 0;
}

#easy-to-read .complementary h2 {
	margin-top: 0.5em;
	padding-left: 5px;
	border-bottom: 1px solid #e1e1e1;
}

#easy-to-read .complementary ul {
	margin-top: 20px;
}

#easy-to-read .complementary a {
	display: block;
	padding: 5px;
	border-bottom: 1px solid #e4e4e4;
}

#easy-to-read .complementary a:hover,
#easy-to-read .complementary li.selected a {
	background: #f5f5f5;
}

#easy-to-read .complementary li.selected a {
	color: #000;
	font-weight: bold;
}

#start-page .complementary {
	width: 275px;
	padding: 0 20px 0 0;
}

#start-page .complementary ul {
	margin-left: 0;
}


/* Site nav bar */
.site-nav-bar{
	width: 918px;
	color: #2e2e2e;
	font-size: 0.9em;
	min-height: 18px;
	padding: 8px 10px 4px;
	margin: 0 auto;
}

#easy-to-read .site-nav-bar {
	font-size: 1.1em;
}

.site-links {
	float: left;
}

.site-links a {
	color: #2e2e2e;
	margin-right: 8px;
	padding-left: 17px;
}

.site-nav-bar .choose-language {
	position: relative;
	z-index: 10001;
	float: left;
}

.site-nav-bar .choose-language:hover .available-languages,
.site-nav-bar .choose-language:focus .available-languages {
	display: block;
}

body.js-enabled .site-nav-bar .choose-language:hover .available-languages,
body.js-enabled .site-nav-bar .choose-language:focus .available-languages {
	display: none;
}

#minority-language .site-nav-bar .choose-language {
	float: right;
	text-align: left;
	margin-right: 130px;
}

.site-nav-bar .choose-language-opener-wrapper {
	position: absolute;
	left: 0;
	top: -6px;
	width: 128px;
	height: 10px;
	padding: 6px 8px 10px 15px;
}

.choose-language-opener {
	color: #2e2e2e;
	padding-right: 16px;
	cursor: default;
}

.available-languages {
	position: absolute;
	left: -306px;
	top: 16px;
	width: 496px;
	z-index: 20000;
	display: none;
}

.choose-language-header {
	width: 489px;
	padding-right: 7px;
}

.choose-language-header-content {
	height: 3px;
}

.choose-language-menu {
	width: 489px;
	padding-right: 7px;
}

.choose-language-menu ul {
	margin: 0 10px;
}

.choose-language-menu ul li {
	line-height: 1.5;
	margin-bottom: 0.5em;
}



/* Submenu */
.complementary 
{
	width: 240px;
	min-height: 10px;
	padding: 0 0 3em 20px;
}

.sidebar-navigation
{
  margin-bottom: 1.5em;
}   

#easy-to-read .complementary {
	padding: 0 70px 3em 0;
}

.complementary h3 {
	min-height: 20px;
	color: #fff;
	background: #3f3f3f;
	
	/* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#525253), to(#353535), color-stop(0.7, #353535));
	/* For Mozilla/Gecko (Firefox etc) */
	background: -moz-linear-gradient(top, #525253 20%, #353535);
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF525253, endColorstr=#FF353535);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF525253, endColorstr=#FF353535)";
	
	font: 1.5em Times, serif;
	margin: 0;
	padding: 10px 20px;
}

.complementary h4 {
	font: bold 1.1em Arial, sans-serif;
	margin: 0;
	padding: 0 20px 5px;
}

.complementary .sidebar-navigation ul {
	padding: 14px 0;
}

.complementary .sidebar-navigation ul ul {
	margin-left: 15px;
	padding: 5px 0;
}

.complementary li a {
	display: block;
	color: #2e2e2e;
	padding: 3px 20px;
}

.complementary li a:hover {
	text-decoration: none;
}

.complementary .sidebar-navigation li a:hover,
.complementary .sidebar-navigation li.selected-parent a:hover,
.complementary .sidebar-navigation li.selected a:hover {
	color: #fff;
	background: #005195;
}

.complementary .sidebar-navigation li.selected > a {
	font-weight: bold;
}

.complementary .sidebar-navigation li.selected a,
.complementary .sidebar-navigation li.selected-parent a {
	color: #005195;
}


	margin-left: 0;
}

.choose-language-menu ul a:hover {
	text-decoration: underline;
}

.choose-language-menu-content-inner {
	padding: 20px 40px 10px;
}

.choose-language-footer {
	width: 489px;
	padding-right: 7px;
}

.choose-language-footer-content {
	height: 12px;
}

/* Head */
.head {
	height: 120px;
}

#page-404 .head {
	height: 100px;
}

.logo {
	float: left;
	width: 291px;
	height: 74px;
	margin: 25px 60px 0;
}

.logo a {
	display: block;
	height: 74px;
	text-indent: -99999px;
}

.opening-times {
	margin: 35px 40px 0 0;
}


/* Site navigation */
.navigation {
	height: 43px;
	position: relative;
	z-index: 200;
}


.site-nav {
	text-align: center;
	height:38px;
}

.site-nav {
	text-align: center;
	position: relative;
	z-index: 200;
}


.site-nav > li {
	position: relative;
	display: inline-block;
	height: 34px;
	font: 1.1em Times, serif;
}
.site-nav > li > a {
	display: block;
	color: #fff;
	line-height: 1.1em;
	/* For standards-compliant web browsers */
	text-shadow: #000 1px 1px 2px;
	padding: 7px 15px 0;
}



/* search-site */
.search-site {
	position: absolute;
	right: 0;
	top: 0;
	height: 27px;
	/* IE hack, v. 7 & 8 */
	height: 27px\9;
	padding: 7px 20px 0 10px;
	color: #fff;
	border-left: 1px solid #fff;
	z-index: 1000;
}

.js-enabled .search-site {
	cursor: pointer;
}

.search-site-form {
	position: absolute;
	right: 0;
	top: 35px;
	width: 309px;
	color: #fff;
	background: #005195;
	overflow: hidden;
	padding: 10px;
	white-space: nowrap;
	z-index: 1000;
}

.js-enabled .search-site-form {
	display: none;
}

.search-site input,
.search-site-button {
	height: 30px;
	border-width: 0;
	padding: 0;
}

.search-site input {
	float: left;
	width: 272px;
	font-size: 1.5em;
	margin-right: 2px;
}

.search-site-button {
	text-indent: -99999px;
	width: 39px;
	border-left: 1px solid #4f4f4f;
	margin-left: -2px;
}


/* Mega menu */
.mega-menu-container {
	position: absolute;
	left: -14px;
	top: 34px;
	text-align: left;
	display: none;
	z-index: 1000;
	font-size: 0.8em;
	text-transform: none;
}

.second-to-last .mega-menu-container,
.last .mega-menu-container {
	left: auto;
	right: -14px;
}

.mega-menu-header {
	width: 400px;
	padding-right: 17px;
}

.three-cols .mega-menu-header {
	width: 650px;
}

.mega-menu-header-content {
	height: 4px;
}

.mega-menu {
	width: 400px;
	padding-right: 17px;
}

.three-cols .mega-menu {
	min-width: 650px;
}

.mega-menu ul {
	margin: 0 10px;
}

.mega-menu ul li {
	line-height: 1.2;
	margin-bottom: 0.7em;
}

.mega-menu .unit:first-child ul {
	margin-left: 0;
}

.mega-menu ul a:hover {
	background: none;
	text-decoration: underline;
}

.mega-menu-content {
	/*min-height: 188px;*/
	padding: 20px 40px 10px;
}

.mega-menu-footer {
	width: 400px;
	padding-right: 17px;
}

.three-cols .mega-menu-footer {
	width: 650px;
}

.mega-menu-footer-content {
	height: 33px;
}


/* Bread crumbs */
.breadcrumbs {
	border-bottom: 1px solid #9f9f9f;
	margin-top: 3px;
	padding: 5px 10px;
}

.breadcrumbs a {
	padding-right: 14px;
}


/* Start page */
.initial-bulsan {
	position: absolute;
	right: -180px;
	top: -132px;
	width: 569px;
	height: 286px;
	z-index: 10000;
}

.additional-bulsan {
	position: absolute;
	left: -21px;
	bottom: 22px;
	width: 85px;
	height: 93px;
	z-index: 10000;
}

.main-intro {
	position: relative;
	height: 340px;
	width: 936px;
	padding-bottom: 16px;
}

#page-404 .main-intro {
	height: 441px;
	padding-bottom: 0;
}

.main-intro img {
	float: left;
}

.overlay {
	position: absolute;
	left: 0;
	top: 124px;
	width: 974px;
	height: 205px;
	z-index: 10000;
}

.overlay-text {
	position: absolute;
	left: 100px;
	top: 110px;
	color: #fff;
	font-size: 2.5em;
	line-height: 1;
	z-index: 10000;
}

#page-404 .overlay-text {
	left: 550px;
	top: 50px;
}

#page-404 .overlay-text h1,
#page-404 .overlay-text p {
	color: #000;
	text-align: left;
	text-transform: none;
	margin-bottom: 30px;
}
/* Startpage tabs */
/* Tab navigation */
#start-page .start-page-content 
{
    width:936px;
	padding: 0 20px;
}

.tab-navigation {
	margin: 25px 0;
	width:916px;
}

.main ul.tabs {
	border-bottom: 3px solid #575757;
	margin: 0;
}

.main ul.tabs li {
	float: left;
	list-style: none;
	margin: 0;
}

.tabs a {
	display: block;
	font: 1em/1.1 Times, serif;
	color: #000;
	padding: 5px 8px;
}

.tabs .current a {
	color: #fff;
	background: #575757;
}

.tab-content {
	padding: 10px 0;
}

.tab-content .push-content {
	margin-top: 0;
}

.tab-content-area {
	position: absolute;
	visibility: hidden;
}

.tab-content-area.current {
	position: static;
	visibility: visible;
}


/* Push objects */
.push {
	position: relative;
	float: left;
	color: #fff;
	width: 212px;
	margin-left: 30px;
	text-align: center;
}

#start-page .push {
	margin-left: 20px;
}

#start-page .push:hover {
	/*text-decoration: underline;*/
}

.push:first-child,
.push-list-images .push:first-child,
#start-page .push:first-child {
	margin-left: 0;
}

.push-list-images .push {
	float: left;
	position: relative;
	overflow: hidden;
	color: #000;
	width: 187px;
	margin-left: 26px;
	border: none;
}

.push-list-images .push img {
	position: static;
}

.push-content {
	min-height: 220px;
	margin: 3em 0 4em;
}


.push-list-images .push-content {
	margin: 0 0 1em;
	padding: 0;
}

.push-list-images .push a {
	color: #000;
}

.push-list-images .push p a {
	color: #005195;
}

.push-list-images .push-content p {
	padding: 0;
}

.push-content.calendar {
	margin-bottom: 0.5em;
}

.push-list-images .push:hover {
	border: none;
}


.push h3 {
	position: relative;
	font: 2em Times, serif;
	text-transform: uppercase;
	border-bottom: 1px solid #000;
	margin: 0 0 10px;
	overflow: hidden;
}

.push-list-images .push h3 {
	font: 1.5em Times, serif;
	text-transform: none;
	text-align: left;
}

.push img {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
}

.push h3 span {
	position: relative;
	display: block;
	min-height: 2.2em;
	padding: 10px;
}

#start-page .push h3 span {
	margin-top: 100px;
}

#start-page .calendar .push h3 span {
	min-height: 96px;
	background: #353535;
	
	/* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#525253), to(#353535), color-stop(0.7, #353535));
	/* For Mozilla/Gecko (Firefox etc) */
	background: -moz-linear-gradient(top, #525253 10%, #353535);
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF525253, endColorstr=#FF353535);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF525253, endColorstr=#FF353535)";
}

#start-page .calendar .push:hover h3 span {
	color: #ccc;
}

.push .event-date {
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	width: 70px;
	height: 70px;
	color: #000;
	background: #eee8c5;
	text-align: left;
}


.push .event-date .date {
	display: block;
	font-size: 3em;
	padding: 5px 0 0 10px;
}

.push .event-date .month {
	position: absolute;
	left: 46px;
	bottom: 26px;
	font-size: 1.3em;
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.push span.red {
	/* Fallback for web browsers that doesn't support RGBa or filter */
	background: transparent;
	/* Hack for IE browsers */
	background: rgba(204, 9, 47, 0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCCC092F,endColorstr=#CCCC092F);
}

.push:hover span.red {
	/* Fallback for web browsers that doesn't support RGBa or filter */
	background: transparent;
	/* Hack for IE browsers */
	background: rgba(204, 9, 47, 0.9);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5CC092F,endColorstr=#E5CC092F);
}

.push span.blue {
	/* Fallback for web browsers that doesn't support RGBa or filter */
	background: transparent;
	/* Hack for IE browsers */
	background: rgba(0, 81, 149, 0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC005195,endColorstr=#CC005195);
}

.push:hover span.blue {
	/* Fallback for web browsers that doesn't support RGBa or filter */
	background: transparent;
	/* Hack for IE browsers */
	background: rgba(0, 81, 149, 0.9);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5005195,endColorstr=#E5005195);
}

.push span.foggyblue {
	/* Fallback for web browsers that doesn't support RGBa or filter */
	background: transparent;
	/* Hack for IE browsers */
	background: rgba(172, 192, 199, 0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCACC0C7,endColorstr=#CCACC0C7);
}

.push:hover span.foggyblue {
	/* Fallback for web browsers that doesn't support RGBa or filter */
	background: transparent;
	/* Hack for IE browsers */
	background: rgba(172, 192, 199, 0.9);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5ACC0C7,endColorstr=#E5ACC0C7);
}

.push span.beige {
	/* Fallback for web browsers that doesn't support RGBa or filter */
	background: transparent;
	/* Hack for IE browsers */
	background: rgba(238, 232, 197, 0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCEEE8C5,endColorstr=#CCEEE8C5);
}

.push:hover span.beige {
	/* Fallback for web browsers that doesn't support RGBa or filter */
	background: transparent;
	/* Hack for IE browsers */
	background: rgba(238, 232, 197, 0.9);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5EEE8C5,endColorstr=#E5EEE8C5);
}

.push a {
	color: #fff;
}

.push p {
	font: italic 1.5em Times, serif;
	padding: 10px;
}

.push-list-images p {
	text-align: left;
	font: normal 1em/1.3 Arial, Helvetica, sans-serif;
}

.push-list-images .push-content {
	padding: 1em 0 0;
}






#page-404 .overlay-text p {
	font-size: 0.7em;
}

.overlay-text p {
	margin: 0;
}

.overlay-text strong {
	font-size: 1.7em;
	font-weight: normal;
}

#start-page .page-main-image-container {
	padding-top: 5px;
}

.facts-list dt {
	float: left;
	clear: left;
}

.facts-list dd {
	text-align: right;
}

.facts-list dt,
.facts-list dd {
	border-bottom: 1px solid #f2f2f2;
	margin-bottom: 4px;
	padding-bottom: 2px;
}

.facts-list dt.last-child,
.facts-list dd.last-child {
	border-bottom: none;
}



.info-text-block {
	margin: 20px 470px 20px 40px;
}


/* Lists */
.horizontal-list {
	display: inline-block;
}

.horizontal-list-additional {
	float: right;
}

.horizontal-list li {
	display: inline-block;
	margin-right: 5px;
}

.centered {
	text-align: center;
	margin: 0 auto;
}

.main .main-text-content ul li {
	list-style: none;
	padding-left: 15px;
}

.main .main-text-content ul li ul {
	margin-top: 0.5em;
}

.main .main-text-content ol li {
	list-style: decimal;
	margin-left: 55px;
}

/* Alignments */
.centered-text {
	text-align: center;
}

.text-align-right {
	text-align: right;
}

.box-left {
	float: left;
}

.box-right {
	float: right;
}

/* Texts */
.brown-text,
.brown-text a {
	color: #c1a972;
}

.black-text {
	color: #000;
}

.gray-text {
	color: #333;
}

.black-text-links a {
	color: #000;
}

.upper-case {
	text-transform: uppercase;
}

.normal-case {
	text-transform: none !important;
}

.link-color {
	color: #1c89d5;
}

.bold {
	font-weight: bold;
}

.disabled {
	color: #eee;
}

.no-text-decoration,
.no-text-decoration a {
	text-decoration: none;
}

.section-header {
	border-bottom: 1px solid #d5d5d5;
	margin: 0.75em 0 0.5em;
	padding-bottom: 0.3em;
}

.site-section-type {
	font-size: 1.6em;
	font-weight: bold;
	background: #dde2e4;
	margin-right: -25px;
	padding: 10px 15px;
}

.section-bar {
	font-weight: bold;
	background: #dde2e4;
	margin-bottom: 0.8em;
	padding: 5px 10px;
}

.complementary .section-bar {
	font-size: 1.2em;
	margin-bottom: 1px;
}

.site-section-type a:hover {
	color: #1c89d5;
}

.link-listing {
	font-size: 1.2em;
	font-weight: bold;
}

.link-listing li {
	margin: 0.5em 0;
}

.image-caption,
.main .image-caption {
	font-style: italic;
	font-size: 0.9em;
	text-align: right;
}

.centered-nav {
	border-top: 1px solid #ededed;
	margin: 2em 0;
	padding-top: 7px;
}

.centered-nav .previous {
	margin-right: 10px;
	padding-left: 30px;
}

.centered-nav a.next {
	margin-left: 10px;
	padding-right: 30px;
}


/* Backgrounds */
.blue-bg {
	background: #307091;
}

.medium-gray {
	background: #efefef;
}

.light-blue {
	background-color: #dbeaf1;
}

.standard-bg-plate {
	background: #dde2e4;
}

.grey-bg {
	background: #e9e9e9;
}

.grey-plate {
	border: 3px solid #e9e9e9;
}

body .white {
	background: #fff;
}

/* Inline content */
.inline {
	display: inline;
}

.main-block {
	display: block;
	width: 615px;
}

/* Info box */
.info-box {
	font-size: 1.1em;
	width: 205px;
	padding-top: 14px;
}

.info-box-content {
	padding: 10px 22px;
}

.info-box-footer {
	height: 14px;
}

.box {
	padding: 10px;
}

#calendar-page .article-media-content .box {
	padding: 10px 15px;
}

.large-box {
	padding: 20px;
}

.large-box h2 {
	margin-top: 10px;
}

#calendar-page .article-media-content .box li {
	padding: 5px;
}

#calendar-page .article-media-content .box li.selected {
	padding: 5px;
}

#calendar-page .article-media-content .box li.selected a {
	color: #fff;
}

/* Tables */
.main-text-content table {
	clear: both;
	width: 100%;
	margin-bottom: 1em;
}

.main-text-content table caption {
	font-size: 1.1em;
	font-weight: bold;
	text-align: left;
	padding: 5px 8px 5px 0;
}

.main-text-content table th,
.main-text-content table td {
	border: 1px solid #fff;
	border-width: 0 0 1px 1px;
	border-bottom-color: #dde2e4;
	padding: 5px 8px;
}

.main-text-content table th {
	font-weight: bold;
	color: #fff;
	background: #333;
}

.main-text-content table th:first-child,
.main-text-content table td:first-child {
	border-left: none;
	width: 60%;
}

.main-text-content table tr.odd {
	background: #dbeaf1;
}

/* Main content */
.body {
	padding: 20px 21px 0;
}

.body h1 {
	padding-right: 220px;
}

#easy-to-read .body h1 {
	padding-right: 0;
}

#calendar-page .body .main-header h1 {
	font-size: 2em;
	margin-bottom: 10px;
	padding-right: 0;
}

#calendar-page .body .main-header h2 {
	margin-top: 0;
}

.main-header {
	margin-bottom: 12px;
}

.main .main-text-content p,
.main .main-text-content ul,
#minority-language .main-text-content {
	max-width: 550px;
}

.main-text-content a {
	color: #ae8931;
}

.main-text-content h2,
.content-indent h2 {
	font: 1.5em Garamond, Times, serif;
	text-transform: uppercase;
	margin-top: 0.5em;
}

.page-introduction {
	font: 1.5em garamond, Garamond, Times, serif;
	color: #000;
}

.page-introduction.unit {
	width: 45%;
	border-right: 1px solid #e5e5e5;
	margin: 0 0 0 -1px;
	padding: 0 5% 30px 0;
}

.page-introduction  .intro-container p {
	background: #e5e5e5;
	margin-bottom: 0;
	padding: 20px;
}

.main-text-content .anfang {
	float: left;
	font: 4em garamond, Garamond, Times, serif;
	color: #fff;
	margin: 0 6px 2px 0;
	padding: 7px 15px;
}

.body .main {
	padding-bottom: 3em;
}

#page-404 .main {
	padding-bottom: 0;
}

#easy-to-read .main {
	padding: 0 215px 0 20px;
}

#minority-language .main {
	padding-right: 220px;
}

html[lang="ar"] #minority-language .main,
html[lang="fa"] #minority-language .main,
html[lang="fa-IR"] #minority-language .main,
html[lang="ku"] #minority-language .main,
html[lang="he"] #minority-language .main {
	padding-left: 420px;
	padding-right: 0;
}

html[lang="ar"] #minority-language .main h1,
html[lang="fa"] #minority-language .main h1,
html[lang="fa-IR"] #minority-language .main h1,
html[lang="ku"] #minority-language .main h1,
html[lang="he"] #minority-language .main h1 {
	text-align: right;
	padding-right: 0;
}

.main ul {
	margin: 0 0 1em 3em;
}

.main ul li {
	list-style: disc;
	margin-bottom: 0.5em;
}

#full-width .main {
	padding-right: 0;
}

#start-page .main {
	padding-right: 0;
}

.page-introduction {
	margin-bottom: 1.2em;
}

.vevent .main-header h3 {
	margin-bottom: 0.7em;
}

.vevent h3 {
	font: 1.4em Arial, Helvetica, sans-serif;
}

.vevent h3 a {
	border-bottom: 1px solid #42607B;
}



.main h5 {
	font: bold 1em Arial, sans-serif;
}

.main-footer {
	clear: both;
	border: 1px solid #888;
	border-width: 1px 0;
	margin: 3em 0 1em;
	padding: 0.5em 0;
}

.main-footer ul,
.main-footer ul li {
	margin-bottom: 0;
}

.content-indent {
	padding-left: 10px;
}

.categories strong {
	float: left;
	margin-right: 10px;
	padding: 3px 5px 3px 0;
}

.unit-indent {
	padding-left: 20px;
}

.unit-indent-additional {
	padding-right: 20px;
}

.divider-start {
	border: 1px solid #f6d692;
	border-width: 1px 0;
	padding: 7px 0;
}

.read-more {
	font-weight: bold;
}

.line.double-red-line {
	height: 4px;
}

.page-section-header {
	padding-bottom: 14px;
}

.page-intro-box {
	padding-top: 15px;
}

.page-intro-box-inner {
	padding: 10px 20px 30px;
}

.page-intro-box-footer {
	height: 15px;
}


/* Article media */
.article-media {
	width: 271px;
	margin: -15px 0 0 20px;
	padding: 27px 0 0;
}

#calendar-page .article-media {
	margin-top: 0;
}

.article-media.box-left {
	width: 271px;
	margin: -15px 20px 20px 0;
	padding: 27px 0;
}

.article-media-content {
	padding: 0 15px;
}

.article-media-content h3 {
	margin: 0 0 0.5em;
}

#calendar-page .article-media-content h3 {
	font-weight: normal;
	padding: 0 15px 20px;
}

.media-item {
	margin-top: 20px;
	padding: 15px 15px 0;
}

.media-item:first-child {
	margin-top: 0;
	padding-top: 0;
}

.main ul.media-list {
	margin: 0 0 1em;
}

.main ul.media-list li {
	list-style: none;
	margin-bottom: 10px;
}

.thumbnail {
	float: left;
	margin-right: 10px;
}

.media-list h4 {
	font: normal 1em/1.3 Arial, Helvetica, sans-serif;
}

.main ul.media-list a p {
	color: #313131;
}

.article-media-footer {
	height: 27px;
}

.article-media-content .last-child p,
.article-media-content .last-child ul {
	margin: 0;
}

.article-media-content .last-child ul li {
	margin: 0;
	padding-bottom: 1em;
}

.main ul.media-list a.sound {
	display: inline-block;
	min-height: 12px;
	padding-left: 20px;
}




/* Site entrances */
.site-entrances {
	height: 102px;
}

.site-entrances .unit {
	padding: 0 10px;
}

/* Additional site entrances */
.additional-site-entrances {
	color: #fff;
	background: #313131;
	padding: 20px 40px 40px;
}

.additional-site-entrances .unit {
	padding-bottom: 50px;
}

.additional-site-entrances h4,
.additional-site-entrances ul {
	margin: 0 20px;
}

.additional-site-entrances h4 {
	font-style: normal;
	margin-bottom: 1em;
}

.additional-site-entrances li {
	margin-bottom: 0.3em;
}

.additional-site-entrances a {
	color: #fff;
}

.additional-site-entrances a:hover {
	text-decoration: underline;
}


/* Listing */
.listing .initial-column {
	
	
}

.listing.separated {
	margin-top: 3em;
}

.border-divider .line {
	border-bottom: 1px solid #dde2e4;
}

.listing.even-listing .unit {
	width: 45%;
	border-left: 1px solid #e5e5e5;
	margin-left: -1px;
	padding-left: 5%;
}

.listing.even-listing .initial-column .line {
	/*width: 45%;*/
	margin: 0 10% 0 0;
	border-right: 1px solid #e5e5e5;
	/*margin-left: -1px;
		padding: 0 5% 0 0;*/
}

.listing .unit.first-in-line {
	clear: both;
	width: 45%;
	border-left: none;
	margin-left: -1px;
	border-right: 1px solid #e5e5e5;
	/*margin-right: -1px;*/
	padding: 0 5% 0 0;
}

.listing .unit h3,
.listing .unit p {
	margin-right: 30px;
}

.listing .unit p,
.listing .line a p {
	color: #313131;
}

.listing a:hover h3 {
	text-decoration: underline;
}

.listing .listing-image {
	float: left;
	width: 155px;
	height: 116px;
	overflow: hidden;
	margin: 0 15px 15px 0;
}

.listing h2 {
	margin: 0 0 1.5em;
}

.listing h3 {
	margin-top: 0;
}

.listing .line {
	margin-bottom: 10px;
}

#calendar-page .listing .size1of4 {
	min-height: 100px;
}

.listing .time {
	font-weight: bold;
}
densed-listing {
	margin-bottom: 1em;
}

.condensed-listing .line {
	border-bottom: 1px solid #e4e4e4;
}

.condensed-listing .line:hover {
	color: #fff;
	background: #42607b;
}

.condensed-listing .line:hover a {
	color: #fff;
}

.condensed-listing .unit {
	width: 86%;
}

.condensed-listing .unit:first-child {
	width: 14%;
}

.condensed-listing .time,
.condensed-listing a {
	display: block;
	padding: 8px 0 8px 3px;
}

.condensed-listing .time {
	text-align: center;
}

.condensed-listing a {
	padding-left: 10px;
}

.box-listing {
	margin-top: 20px;
}

.box-listing .unit {
	margin: 0 27px 20px 0;
}

.listing-secondary {
	padding: 10px 20px;
}

.tag {
	float: left;
	background: #e9e9e9;
	margin-right: 2px;
	padding: 3px 5px;
}


/* Push objects */
.push {
	text-align: center;
	margin-bottom: 15px;
	border: 1px solid transparent;
}

.push-list-images .push {
	float: left;
	position: relative;
	overflow: hidden;
	width: 187px;
	margin-left: 26px;
	border: none;
}

.push-content > a {
	display: block;
	padding: 15px;
}

.push:hover {
	border: 1px solid #ae8931;
}

.push-list-images .push:hover {
	border: none;
}

.push a {
	color: #313131;
}

.push-list-images .push p a {
	color: #ae8931;
	font-weight: normal;
}

.push p {
	color: #313131;
	font: italic 1.3em Garamond, Times, serif;
}

.push-list-images p {
	text-align: left;
	font: normal 1em/1.3 Arial, Helvetica, sans-serif;
}

.push-list-images .push-content {
	padding: 1em 0 0;
}

.push-list-images .push h3 {
	text-align: left;
	border-bottom: none;
}

#start-page .push h3 {
	margin-bottom: 0;
}


/* Datepicker */
.date-picker-form {
	padding: 15px;
}

.js-enabled .date-picker-form {
	display: none;
}

.date-picker {
	margin: 10px auto;
	padding: 0 15px;
}

.ui-datepicker-prev,
.ui-datepicker-next {
	cursor: pointer;
	width: 28px;
	height: 28px;
	text-indent: -9999px;
}

.ui-datepicker-prev,
.ui-datepicker-next {
	float: left;
}

.ui-datepicker-next {
	float: right;
}

.ui-datepicker-title {
	font-weight: bold;
	text-align: center;
	margin: 0 20px;
	padding-top: 3px;
}

.ui-datepicker-calendar {
	border-collapse: separate;
	border-spacing: 3px;
	width: 100%;
	margin: 10px 0 30px;
}

.ui-datepicker-calendar th {
	text-transform: uppercase;
	background: #fff;
	text-align: center;
	font-weight: bold;
	font-size: 0.9em;
}

table.ui-datepicker-calendar td {
	text-align: center;
	padding: 0;
}

table.ui-datepicker-calendar td {
	border: 1px solid #e4e4e4;
}

table.ui-datepicker-calendar td.ui-datepicker-other-month {
	border: 1px solid #fff;
}


.ui-datepicker-calendar td.has-event,
.ui-datepicker-calendar td.has-event a {
	background: #e4e4e4;
}

.ui-datepicker-calendar td.ui-datepicker-other-month {
	background: #fff;
}

.ui-datepicker-calendar td.ui-datepicker-today {
	border-color: #61a259;
}

.ui-datepicker-calendar td.chosen-date {
	border: none;
}

.ui-datepicker-calendar td.chosen-date a {
	color: #fff;
	background: none;
}

.ui-datepicker-calendar td a {
	display: block;
	color: #5b5b5b;
	font-weight: bold;
	padding: 4px;
}


/* jQuery Tools */
.carousel-container,
.carousel-container-small {
	position: relative;
}

.scrollable,
.scrollable-small {
	position: relative;
	overflow: hidden;
}

.carousel-container {
	width: 712px;
}

.carousel-container.carousel-two-size {
	width: 612px;
	height: 384px;
	margin-right: 20px;
}

.carousel-container.carousel-two-size a:hover h3 {
	text-decoration: underline;
}

#wide .carousel-container {
	width: 932px;
}

.scrollable {
	width: 712px;
	height: 299px;
}

.scrollable.scrollable-high {
	width: 712px;
	height: 499px;
}

.carousel-two-size .scrollable {
	width: 612px;
	height: 364px;
}

#wide .scrollable {
	width: 932px;
}

.scrollable-small {
	width: 214px;
	height: 200px;
	margin: 0;
}

.scrollable-highlights {
	width: 960px;
	height: 508px;
}

.scrollable .items,
.scrollable-small .items {
	position: absolute;
	width: 20000em;
	clear: both;
}

.main .scrollable ul,
.main .scrollable-small ul {
	list-style: none;
	margin-left: 0;
}

.main .scrollable-small ul {
	margin-bottom: 0;
}

.scrollable li {
	position: relative;
	float: left;
	width: 712px;
	height: 299px;
}

.scrollable.scrollable-high li {
	height: 499px;
}

.carousel-two-size .scrollable li {
	width: 248px;
	height: 334px;
	padding: 15px 29px;
}

.carousel-two-size .scrollable li .two-size-thumb {
	display: inline-block;
	width: 248px;
	height: 145px;
	overflow: hidden;
}

.carousel-two-size .scrollable li img {
	/*position: absolute;*/
}

.main .scrollable ul li,
.main .scrollable-small ul li {
	list-style: none;
}

#wide .scrollable li {
	width: 932px;
}

.scrollable-small li {
	position: relative;
	float: left;
	width: 214px;
	min-height: 200px;
}

.scrollable-highlights li {
	width: 960px;
	height: 507px;
}

.scrollable .item-info {
	position: absolute;
	bottom: 11px;
	left: 3px;
	right: 3px;
	color: #fff;
	font-size: 1.1em;
	padding: 10px;
}

.show-highlight-information .scrollable .item-info {
	display: none;
}

.scrollable .item-info img {
	float: left;
	margin: 0 10px 10px 0;
}



.page-main-image-container {
	position: relative;
}

.main-image-nav {
	position: absolute;
	right: 30px;
	top: 30px;
	z-index: 100;
}

.main-image-nav a,
.main-image-nav-pause,
.main-image-nav-play {
	float: left;
	text-align: center;
	width: 19px;
	height: 19px;
	font-weight: bold;
	line-height: 19px;
	color: #fff;
	background: #000;
	margin-right: 1px;
}

.main-image-nav-pause,
.main-image-nav-play {
	display: none;
	text-indent: -9999px;
	cursor: pointer;
}

.js-enabled .main-image-nav-pause {
	display: inline;
}

.page-main-image {
	position: relative;
	max-height: 329px;
	overflow: hidden;
}

.page-main-image img {
	float: left;
}

.scrollable h2,
.scrollable p,
.page-main-image h2,
.page-main-image p {
	position: absolute;
	left: 3px;
	right: 3px;
	color: #fff;
	margin: 0;
	overflow: hidden;
}

.scrollable h2,
.page-main-image h2 {
	bottom: 70px;
	height: 41px;
	font-size: 2.5em;
	font-weight: bold;
	padding: 0 23px;
}

.scrollable p,
.page-main-image p {
	bottom: 11px;
	font-size: 1.2em;
	height: 47px;
	padding: 8px 23px 0;
}

.carousel-two-size .scrollable p {
	font-size: 1em;
}

.scrollable h3 {
	font-weight: bold;
	color: #fff;
	background: none;
	margin-bottom: 5px;
	padding: 0;
}

.carousel-two-size .scrollable h3,
.carousel-two-size .scrollable p {
	position: static;
	color: #000;
	background: none;
	height: auto;
	padding: 0;
}

.scrollable-small p {
	position: static;
	color: #313131;
	font-size: 1em;
	height: auto;
	margin-bottom: 0;
	padding: 0;
}

.scrollable .item-info a {
	color: #41adf8;
}

.video {
	position: absolute;
	left: 107px;
	top: 50px;
	width: 47px;
	height: 48px;
	z-index: 2;
}

.scrollable img {
	position: absolute;
	top: 0;
}

.carousel-two-size .scrollable img {
	position: static;
}

.scrollable-small li img {
	position: static;
	display: block;
	margin: 0 auto 10px;
}

.scrollable-highlights img {
	position: static;
}

.carousel-container .navi,
.carousel-container-small .navi {
	height: 10px;
	text-align: center;
	position: absolute;
	width: 100%;
	top: -25px;
}

.carousel-container-small .navi {
	width: 214px;
	text-align: right;
	top: -26px;
}

.carousel-two-size .navi {
	position: static;
	top: 0;
	height: 16px;
	padding-top: 3px;
}

.navi a {
	cursor: pointer;
	display: inline-block;
	width: 8px;
	height: 8px;
	margin: 3px;
}

.carousel-container .scrollable-nav-bar {
	position: absolute;
	bottom: 0;
	width: 960px;
	height: 46px;
}

.carousel-container .nextPage,
.carousel-container .prevPage,
.carousel-container-small .nextPage,
.carousel-container-small .prevPage {
	display: none;
	text-indent: -9999px;
	position: absolute;
	cursor: pointer;
	z-index: 3;	
}

.js-enabled .carousel-container .nextPage,
.js-enabled .carousel-container .prevPage,
.js-enabled .carousel-container-small .nextPage,
.js-enabled .carousel-container-small .prevPage {
	display: block;
}

.carousel-container .nextPage,
.carousel-container .prevPage {
	top: 0;
	width: 38px;
	height: 305px;
}

.carousel-container-small .nextPage,
.carousel-container-small .prevPage {
	top: 0;
	width: 28px;
	height: 160px;
}

.carousel-two-size .nextPage,
.carousel-two-size .prevPage {
	height: 364px;
}

.carousel-container .nextPage {
	right: -22px;
}

.carousel-container .prevPage {
	left: -19px;
}

.carousel-container-small .nextPage {
	right: -13px;
}

.carousl-container-small .prevPage {
	left: -13px;
}

.carousel-container.scrollable-highlights-container .nextPage,
.carousel-container.scrollable-highlights-container .prevPage {
	top: 0;
	width: auto;
	height: 33px;
	color: #fff;
	font-weight: bold;
	font-size: 1.1em;
	text-indent: 0;
	padding: 13px 0 0 35px;
}

.carousel-container.scrollable-highlights-container .nextPage:hover,
.carousel-container.scrollable-highlights-container .prevPage:hover {
	background-color: transparent;
}

.carousel-container.scrollable-highlights-container .prevPage {
	left: 10px;
}

.carousel-container.scrollable-highlights-container .nextPage {
	right: 10px;
	background-position: right center;
	padding-right: 35px;
}

.show-highlight-info {
	display: none;
}

.js-enabled .show-highlight-info {
	display: block;
	text-align: center;
}

.show-highlight-info a {
	cursor: pointer;
	display: inline-block;
	height: 33px;
	color: #fff;
	font-weight: bold;
	font-size: 1.1em;
	padding: 13px 30px 0 0;
}

.highlight-info-on {
	display: none;
}

.show-highlight-information .highlight-info-off {
	display: none;
}

.show-highlight-information .highlight-info-on {
	display: inline-block;
}



/* Highlights */
.highlights-nav {
	padding: 15px 0;
}

.highlights-nav li {
		display: inline-block;
		width: 161px;
		margin: 0 0 10px 35px;
		padding-left: 0;
		vertical-align: top;
		text-align: center;
		cursor: pointer;
}

.highlights-nav li.first-of-line {
	margin-left: 0;
}

.highlights-nav li.current img {
	opacity: 0.6;
	/* For IE 5-7 */
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
	/* For IE 8 (and 9, 10, 11?). Don't miss the added quotes */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

.highlights-nav li.current a {
	color: #000;
}

.highlights-nav li img {
	display: block;
	margin-bottom: 0.5em;
}

.highlights-nav li a {
	font-weight: bold;
	font-size: 1.2em;
}

/* Map container */
.map-container{
	width: 100%;
	height: 500px;
	margin-top: 20px;
}


/* Page footer */
.foot 
{
    border-top: solid 1px #8b0e00;
	font-size: 0.9em;
}

.foot-content {
	width: 935px;
	margin: 0 auto;
	padding: 10px 5px 20px 20px;
}

.foot-content a:hover {
	text-decoration: underline;
}

.foot-content .inline {
	display: inline-block;
	padding-top: 24px;
}

.foot-content .text-align-right {
	padding-top: 25px;
}

.foot-content .text-align-right li {
	margin: 0 10px;
}

/* Affiliate logos */
.affiliate-logos li {
	margin-left: 10px;
}

.align-left {
	float: left;
}

#press-release .align-left {
	max-width: 50%;
}


/* Video */
.lightbox-video-container {
	/*width: 600px;
		height: 600px;*/
	padding: 10px;
}

.lightbox-video-container-description {
	width: 800px;
}

/* Alpha backgrounds */
.alpha60 {
	/* Fallback for web browsers that doesn't support RGBa or filter */
	background: rgb(0, 0, 0);
	/* Hack for IE browsers */
	background: transparent\9;
	background: rgba(0, 0, 0, 0.6);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
}

/* Share page */
.print {
	display: none;
}

.js-enabled .print {
	display: inline;
}

#atffc {
	display: none;
}

body div.addthis_toolbox.addthis_default_style a {
	float: none;
}

body div.addthis_toolbox.addthis_default_style span {
	background: none;
	/*display: none;*/
	position: absolute;
}

/* Map container */
.map-container{
	clear: both;
	width: 100%;
	height: 500px;
	margin-top: 20px;
}

/* Forms */
.form-container {
	padding-top: 15px;
	margin: 1.5em 0 0;
}

.form-container .form-container-inner {
	margin-bottom: 0;
	padding: 10px 20px 30px;
}

.form-container-footer {
	height: 15px;
}

.form-container div {
	margin-bottom: 1em;
}

.form-container table {
	border-collapse: separate;
	border-spacing: 10px;
}

.form-container h3 {
	margin-left: 5px;
}

.form-container label {
	font: bold 1.3em Garamond, Times, serif;
}

.form-container hr {
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #fff;
}

.form-container select,
.form-container textarea,
.form-container input[type=text],
.form-container input[type=email] {
	display: block;
	margin-top: 3px;
}

.form-container input[type=radio],
.form-container input[type=checkbox] {
	margin: 3px 5px 0 0;
}

.form-container textarea,
.form-container input[type=text],
.form-container input[type=email] {
	border: 1px solid #a5a5a5;
	padding: 3px;
}

.form-container select {
	min-width: 200px;
}

.form-container textarea {
	min-width: 352px;
	height: 123px;
}

.form-container textarea:focus,
.form-container input[type=text]:focus,
.form-container input[type=email]:focus,
.form-container input[type=radio]:focus,
.form-container input[type=checkbox]:focus {
	position: relative;
	border-color: #008194;
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	top: -1px;
}

.form-container input[type=submit]:focus {
	position: relative;
	-moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	top: -1px;
}

.form-container .form-row {
	margin-bottom: 10px;
}

.form-container .form-part {
	display: inline-block;
	width: 168px;
	margin-left: 5px;
	padding: 5px;
	border: 1px solid transparent;
}

.form-container .form-part:first-child {
	margin-left: 0;
}

.form-container .form-part input[type=text] {
	width: 160px;
}

.form-container .form-part input[type=radio],
.form-container .form-part input[type=checkbox] {
	margin: 0 5px 0 10px;
	padding: 0;
}

.form-container .form-part input[type=radio]:first-child,
.form-container .form-part input[type=checkbox]:first-child {
	margin-left: 0;
}

.form-container .form-part.invalid {
	background: #fff0f0;
	border-color: #ffb2b2;
}

.form-container .form-part.invalid input {
	border-color: #d22a2a;
}

.button-container {
	float: right;
	background: #e6e6e6;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 4px 3px;
}

.button-container-line-end {
	margin: -3.3em 20px 0 0;
}


/* Pagination */
.pagination {
	clear: both;
	text-align: center;
	margin-top: 3em;
}

.pagination a {
	padding: 3px;
}

.pagination a.disabled {
	color: #414141;
}

.pagination a.selected {
	color: #414141;
	font-weight: bold;
}

.pagination ol {
	display: inline;
	list-style: none;
}

.pagination ol li {
	display: inline;
	background: none;
	margin: 0;
	padding: 0;
}


/* Print CSS */
@media print {
	body,
	body .foot {
		background: none;
	}
	
	.skip-links,
	#site-nav-bar,
	.mega-menu-container,
	.navigation,
	.breadcrumbs,
	.complementary,
	.carousel-container,
	.main-footer,
	.article-media,
	.site-entrances,
	.additional-site-entrances,
	.foot .horizontal-list {
		display: none;
	}
	
	.main {
		padding-right: 220px;
	}
}



/* ColorBox */
/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, 
#cboxOverlay, 
#cboxWrapper{
	position:absolute; 
	top:0; 
	left:0; 
	z-index:10002;
	overflow:visible;
}

#cboxOverlay{
	position:fixed; 
	width:100%; 
	height:100%;
}

#cboxMiddleLeft, 
#cboxBottomLeft{
	clear:left;
}

#cboxContent{
	overflow:visible;
}

#cboxLoadedContent{
	overflow:hidden !important;
}

#cboxLoadedContent iframe{
	display:block; 
	width:100%; 
	height:100%; 
	border:0;
}

#cboxTitle{
	margin:0;
}

#cboxLoadingOverlay, 
#cboxLoadingGraphic{
	position:absolute; 
	top:0; 
	left:0; 
	width:100%;
}

#cboxPrevious, 
#cboxNext, 
#cboxClose, 
#cboxSlideshow{
	cursor:pointer;
}

/* 
    Example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay{
	background:#000;
}

#colorbox{
	font-size: 1.2em;
}
#cboxContent{
	color: #fff;
	/* Fallback for web browsers that doesn't support RGBa or filter */
	background: rgb(0, 0, 0);
	/* Hack for IE browsers */
	background: transparent\9;
	background: rgba(0, 0, 0, .6);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
}	

#cboxLoadedContent{
	margin:41px 15px 6px;
}

#cboxTitle{
	/* IE trickery to show overflowing content */
	position: relative;
	overflow: auto;
	padding: 5px 15px 10px; font-size: 0.9em;
	/* Fallback for web browsers that doesn't support RGBa or filter */
	background: rgb(0, 0, 0);
	/* Hack for IE browsers */
	background: transparent\9;
	background: rgba(0, 0, 0, .6);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
}

#cboxTitle a{
	display: block;
	margin-top: 1em;
}

#cboxCurrent{
	position:absolute; 
	top:15px; 
	left:155px; 
	font-size: 0.8em;
}

#cboxSlideshow{
	position:absolute; 
	top:15px; 
	left:20px; 
	font-size: 0.8em;
}

#cboxSlideshow:hover{
	text-decoration: underline;
}

#cboxPrevious{
	position:absolute; 
	top:10px; 
	left:120px; 
	width:28px; 
	height:28px; 
	text-indent:-9999px;
}

#cboxNext{
	position:absolute; 
	top:10px; 
	left:224px; 
	width:28px; 
	height:28px; 
	text-indent:-9999px;
}

#cboxClose{
	position:absolute; 
	top:10px; 
	right:10px; 
	width:23px; 
	height:24px; 
	text-indent:-9999px;
}